body {
   background-color: black;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
   
header{
  border-style: solid;
  border-width: 1px;
  background-color: purple;
  font-size: 30px;
  text-align: center;
  padding: 10px;
}

nav {
  border-style: solid;
  border-width: 1px;
  background-color: purple;
  font-size: 20px;
  text-align: center;
  padding: 10px;
}

main{
  columns: 100px 3;
  column-count: 3;
  column-gap: 40px;
  column-rule-style: solid;
  column-rule-width: 1px;
  column-span: all;
  border: 3px solid pink;
  font-size: 15px;
  padding: 10px;
  background-color: purple;
}


footer{
  columns: 100px ;
  column-gap: 40px;
  font-size: 18px;
  text-align: center;
  column-count: 3;
  background-color: purple;
  border: 1px solid red;
  
  padding-top: 5px;
}
